.login-container {
  max-width: var(--container-width);
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--space-md);
}
.header-title {
  display: flex;
  flex-direction: column;
  line-height: 1.15;
}

.login-header img {
  width: var(--logo-size);
  height: var(--logo-size);
  margin-right: var(--space-sm);
}

.login-header h1 {
  font-family: "Poppins", sans-serif;
  font-size: var(--title-size);
  font-weight: 700;
  color: var(--text-dark);
  user-select: none;
}
.login-header p {
  font-family: "Poppins", sans-serif;
  font-size: var(--description-size);
  color: var(--text-light);
  user-select: none;
}

.login-assets {
  width: 100%;
  height: auto;
  border-radius: var(--radius-large);
}

.login-description {
  text-align: center;
  margin-top: var(--space-lg);
  color: var(--text-light);
  font-size: var(--description-size);
  line-height: 1.5;
}

.login-page-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  margin-top: var(--space-md);
  width: 100%;
}

.login-page-btn button {
  width: 100%;
  height: var(--btn-height);
  border-radius: var(--radius-btn);
  font-family: "Poppins", sans-serif;
  font-size: var(--button-size);
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn {
  background: var(--primary-gradient);
  color: var(--white);
  border: none;
}

.login-btn:hover {
  transform: translateY(-0.125rem);
  opacity: 0.9;
}

.register-btn {
  background: var(--white);
  border: 0.09375rem solid var(--border-color);
  color: var(--primary-color);
}

.register-btn:hover {
  background: #f4f0ff;
}

@media (max-width: 768px) {
  .login-container {
    width: 90%;
  }

  .login-page-btn button {
    height: var(--mobil-btn-height);
    font-size: 1rem;
  }
  .login-description {
    line-height: 1.4;
  }
}
