.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 400px;
}
.container h2 {
  color: #fff;
}
.header-img {
  user-select: none;
  pointer-events: none;
  width: 200px;
  border-radius: 100px;
  border: 2px solid #720ff4;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container a {
  margin-top: 20px;
  background-color: #fff;
  justify-content: space-between;
  border-radius: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 80%;
  color: white;
  text-decoration: none;
  padding: 1rem;
  transition: all 0.3s ease;
  position: relative;
}
.text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}
.next {
  font-size: 24px;
}
.container a:hover {
  transform: scale(1.06);
}

.container a:active {
  transform: scale(0.97);
}

.union-img {
  /* margin-top: 90px; */
  width: 34px;
  height: 34px;
}
